@import "_bootstrap";
@import "_bootswatch";
@import "../src/spritesmith-generated/sprite.scss";

body {
  padding-top: 50px;
}

i{
  display:inline-block;
}

.starter-template {
  padding: 50px 15px;
  text-align: center;
}